html, body{
	font-family: Helvetica, sans-serif;
	margin: 0;
	text-align: center;
}

header{
	background-color: #d580fe;
	padding: 40px;
	text-align: center;

}

h1{
	font-family: 'Patrick Hand', cursive;
	font-size: 80px;
	color: #ffffff;
}

h2{
	font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	color: #000000;
	background-color: #c6f4d6;
	border-radius: 20px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 3px solid #ffffff;
	box-shadow: 0px 12px 30px #4d4d4d;
}

.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
	padding-top: 50px;
}

p.caption{
	font-size: 16px; 
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 20 20 20 0px;
	margin: 0;
}

a{
	color: #d580fe;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #9cdcb5;
}

footer{
	margin: 20px;
	padding: 40px 20px;
	background-color: #333333;
	color: #666666;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}